.pure-menu-link:hover {
  background-color: #bbb;
}
.apure-menu-selected-background {
  font-weight: 800;
}

.apure-menu-selected-background i {
  color: black;
}

.pure-menu-selected-background a {
  font-weight: 800;
  color: black;
}

.img-border {
  border: 1px solid #ddd;
}

.sidebar {
  background-color: #f0f0f0;
  padding-top: 20px;
  min-height: 100vh;
}
/* Estilo para os cartões */
.card {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
  text-align: center;
  flex-basis: 30%; /* Define que o cartão ocupará aproximadamente 30% do espaço */
  box-sizing: border-box;
}

.card img {
  margin-bottom: 15px;
  display: inline;
}

.card h4 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0px !important;
  text-align: left !important;
}

.card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
  text-align: left !important;
  margin-top: 0px !important;
}

.icons {
  display: flex;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  right: 15px;
}

i.selected {
  color: gold;
}

.icons i {
  margin: 0 5px;
  font-size: 24px;
}



.botao-redondo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px; /* Largura do botão */
  height: 33px; /* Altura do botão */
  border-radius: 50%; /* Torna o botão redondo */
  background-color: #bbb; /* Cor de fundo */
  color: white; /* Cor do texto */
  font-size: 18px; /* Tamanho do ícone */
  border: none; /* Sem borda */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  transition: background-color 0.3s; /* Efeito de transição */
}

.botao-redondo:hover {
  background-color: #666; /* Cor ao passar o mouse */
}

.leftcontrol {
  padding-top: 10px;;
  display: flex; /* Usa flexbox para alinhar os botões */
  flex-direction: row; /* Alinha os botões lado a lado */
  justify-content: flex-end; /* Alinha os botões à direita */
  gap: 10px; /* Espaçamento entre os botões */
  margin-right: 20px; /* Margem à direita para afastar dos limites da tela */
}
