.pure-menu-link:hover {
  background-color: #bbb;
}

.sidebar {
  background-color: #f0f0f0;
  padding-top: 20px;
  min-height: 100vh;
}
/* Estilo para os cartões */
.card {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
  text-align: center;
  flex-basis: 30%; /* Define que o cartão ocupará aproximadamente 30% do espaço */
  box-sizing: border-box;
}

.card img {
  margin-bottom: 15px;
  display: inline;
}

.card h4 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0px !important;
  text-align: left !important;
}

.card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  text-align: left !important;
  margin-top: 0px !important;
}

.icons {
  display: flex;
  justify-content: right;
}

.icons i {
  margin: 0 5px;
  font-size: 18px;
}
